<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PROYECTOSERFISPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>MODEL.clsDetalle</class>
    <class>MODEL.clsLog</class>
    <class>MODEL.clsMateria</class>
    <class>MODEL.clsExamen</class>
    <class>MODEL.clsPerfil</class>
    <class>MODEL.clsReactivo</class>
    <class>MODEL.clsAccion</class>
    <class>MODEL.clsAsignacion</class>
    <class>MODEL.clsUsuario</class>
    <class>MODEL.clsLlavesCifrado</class>
    <class>MODEL.clsArea</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/serfis?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
